.logo {
    background-color: $red;
    color: #fff;
    text-align: center;
    padding: 2em 1.6em;
    height: 100%;
    display: inline-block;
    text-transform: uppercase;
    width: 100%;
    .name {
        width: 100%;
        margin: 0;
        font-size: 64px;
        letter-spacing: .1rem;
    }
    .sublogo {
        letter-spacing: -.1rem;
    }
}

.title-wrapper {
    a {
        text-transform: uppercase;
        display: block;
        text-decoration: none;
        font-weight: bold;
        width: fit-content;
        padding: 0 1rem;
        font-size: 90%;
        line-height: 2.8em;
    }
}