.logo {
    background-color: $red;
    color: #fff;
    text-align: center;
    padding: $gap;
    height: 100%;
    display: inline-block;
    text-transform: uppercase;
    width: 100%;
    .name {
        width: 100%;
        margin: 0;
        font-size: 64px;
        letter-spacing: .1rem;
    }
    .sublogo {
        letter-spacing: -.1rem;
    }
}

.title-wrapper {
    a {
        text-transform: uppercase;
        display: block;
        text-decoration: none;
        font-weight: bold;
        width: fit-content;
        padding: 0 1rem;
        font-size: 90%;
        line-height: 2.8em;
    }
}

.stay-in-touch {
    @include gap-spacing;
    *:not(:last-child) {
        margin-bottom: 1em;
    }
    p {
        font-size: 75%;
    }
    form {
        display: flex;
        flex-direction: column;
        input {
            width: 100%;
            font: inherit;
            padding: .8em;
            border: 0;
            outline: none;
            &[type=text] {
                background-color: $white;
                color: $grey;
            }
            &[type=submit] {
                background-color: $red;
                color: $white;
                margin-bottom: 0;
                text-transform: uppercase;
                cursor: pointer;
                @include transition-eclair;
                &:hover{
                    background-color: $black;
                }
            }
        }
    }
}