.featured {
    display: grid;
    grid-template-columns: 40% 1fr 1fr;
    grid-template-rows: 60% 40%;
    gap: 2rem;
    padding: 2rem;
    grid-template-areas:
        "front   .        .     "
        "front   fourth   fourth"
    ;
    article {
        display: grid;
        &.front {
            grid-area: front;
            grid-template-rows: calc(75% + 1em) 22%;
        }
        &.fourth {
            grid-area: fourth;
            grid-template-columns: calc(50% - 1em) 50%;
        }
        .title-wrapper {
            border: 1px solid $grey;
        }
    }
}