body {
    background: #999; 
}

.wrapper {
    background-color: #fff;
    max-width: 1800px;
    margin: 0 auto;
}

.buy-now {
    background-image: url(../../img/rec1.png);
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
}

.ad {
    width: 100%;
}