.popular {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 500px 500px 500px;
    gap: $gap;
    padding: $gap;
    &>article {
        position: relative;
        .title-wrapper {
            position: absolute;
            z-index: 1;
            bottom: $gap;
            width: calc(100% - $gap);
        }
        .img-wrapper {
            height: 100%;
            width: 100%;
            z-index: -1;
            img {
                display: block;
                object-fit: cover;
            }
        }
    }
    aside {
        grid-area: 1 / 4 / 4 / 5;
        .escort-user {
            top: 0;
            position: sticky;
            display: grid;
            grid-template-columns: 100%;
            gap: $gap;
            article {
                display: flex;
                flex-flow: row;
                .img-wrapper {
                    width: 30%;
                    img {
                        display: block;
                        object-fit: cover;
                    }
                }
                .title-wrapper {
                    width: 70%;
                    border: 1px solid $grey;
                    border-left: 0;
                    padding: 1em .5em;
                    h3 {
                        font-size: 90%;
                    }
                }
            }
            .stay-in-touch {
                background-color: $tile;
                padding: $gap;
                *:not(:last-child) {
                    margin-bottom: 1em;
                }
                p {
                    font-size: 75%;
                }
                form {
                    display: flex;
                    flex-direction: column;
                    input {
                        width: 100%;
                        font: inherit;
                        padding: .8em;
                        border: 0;
                        outline: none;
                        &[type=text] {
                            background-color: $white;
                            color: $grey;
                        }
                        &[type=submit] {
                            background-color: $red;
                            color: $white;
                            margin-bottom: 0;
                            text-transform: uppercase;
                            cursor: pointer;
                            @include transition-eclair;
                            &:hover{
                                background-color: $black;
                            }
                        }
                    }
                }
            }
        }
    }
}