.popular {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 1.2fr;
    grid-template-rows: 400px 400px 400px;
    @include gap-spacing;
    article {
        position: relative;
        .title-wrapper {
            position: absolute;
            z-index: 1;
            bottom: $gap;
            width: calc(100% - $gap);
            padding-left: 0;
            a {
                padding-left: inherit;
            }
        }
        .img-wrapper {
            height: 100%;
            width: 100%;
            z-index: -1;
            img {
                display: block;
                object-fit: cover;
            }
        }
    }
    .slider-most-popular {
        width: 100%;
        height: 100%;
        padding: $gap;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
        h2 {
            margin-top: 0;
        }
        article {
            .img-wrapper {
                overflow: hidden;
                img {
                    height: unset;
                    width: 100%;
                }
            }
            .title-wrapper {
                position: unset;
                margin: 0;
                padding: 0;
                text-align: center;
                width: 100%;
                * {
                    margin: 0 auto;
                }
            }
        }
    }
    aside {
        grid-area: 1 / 4 / 4 / 5;
        .escort-user {
            top: 0;
            position: sticky;
            display: grid;
            grid-template-columns: 100%;
            gap: $gap;
            article {
                display: flex;
                flex-flow: row;
                width: 100%;
                padding-bottom: $gap;
                .img-wrapper {
                    width: 40%;
                    height: 140px;
                    img {
                        display: block;
                        object-fit: cover;
                    }
                }
                .title-wrapper {
                    width: 70%;
                    height: 140px;
                    position: unset;
                    border: 1px solid $grey;
                    border-left: 0;
                    padding: 1em .5em;
                    h3 {
                        font-size: 80%;
                    }
                }
            }
            .stay-in-touch {
                background-color: $tile;
            }
        }
    }
}