.popular {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 500px 500px 500px;
    @include gap-spacing;
    &>article {
        position: relative;
        .title-wrapper {
            position: absolute;
            z-index: 1;
            bottom: $gap;
            width: calc(100% - $gap);
        }
        .img-wrapper {
            height: 100%;
            width: 100%;
            z-index: -1;
            img {
                display: block;
                object-fit: cover;
            }
        }
    }
    aside {
        grid-area: 1 / 4 / 4 / 5;
        .escort-user {
            top: 0;
            position: sticky;
            display: grid;
            grid-template-columns: 100%;
            gap: $gap;
            article {
                display: flex;
                flex-flow: row;
                .img-wrapper {
                    width: 30%;
                    img {
                        display: block;
                        object-fit: cover;
                    }
                }
                .title-wrapper {
                    width: 70%;
                    border: 1px solid $grey;
                    border-left: 0;
                    padding: 1em .5em;
                    h3 {
                        font-size: 90%;
                    }
                }
            }
            .stay-in-touch {
                background-color: $tile;
            }
        }
    }
}